#DefinitionInput {
    position: relative;
    font-size: 1em;
    border: 1px solid black;
    width: 400px;
}
#commitTextArea {
    position: absolute;
    top: 0px;
    right: 0px;
}
.groupHeadLine {
    margin-bottom: 0px;
}
#stateChris {
    background-color: yellow;
}
#statePhil {
    background-color: yellow;
}
#stateRemote {
    background-color: aqua;
}
#stateIndicator {
    position: fixed;
    top: 0px;
    right: 0px;
}